<div class="relative bg-blue-900 px-6 pt-6 md:px-20 flex flex-col md:flex-row items-center justify-between gap-10">

  <div class="max-w-lg text-center md:text-left animate-fadeIn">

    <h1 class="text-4xl md:text-6xl font-extrabold text-white leading-tight">
      UGEL Santa: <br>
      <span class="text-blue-300">Educación</span> del <br>
      <span class="text-white">Futuro</span>
    </h1>

    <p class="text-[#CCDDF0] text-lg md:text-xl leading-relaxed mt-6">
      Impulsando la innovación y excelencia en la <br class="hidden md:inline">
      educación para formar a los líderes del mañana.
    </p>

    <app-buton texto="Información" ></app-buton>

  </div>

  <!-- Contenedor de la Imagen con Decoración -->
  <div class="w-full md:w-1/2 flex justify-center relative">
    <div class="absolute -top-10 right-10 w-40 h-40 bg-blue-400 rounded-full blur-3xl opacity-30 animate-pulse"></div>
    <div class="absolute bottom-0 left-5 w-32 h-32 bg-blue-600 rounded-full blur-2xl opacity-40 animate-bounce"></div>
    <img src="assets/Kid.jpg" alt="Kid"
         class="relative w-full max-w-xs md:max-w-md lg:max-w-lg h-auto rounded-xl shadow-xl transition-transform duration-300 hover:scale-105">
  </div>

</div>


<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#1e3a8a" fill-opacity="1"
    d="M0,160L40,165.3C80,171,160,181,240,165.3C320,149,400,107,480,128C560,149,640,235,720,234.7C800,235,880,149,960,122.7C1040,96,1120,128,1200,154.7C1280,181,1360,203,1400,213.3L1440,224L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z">
  </path>
</svg>
