<nav class="bg-blue-900 w-full shadow-md p-1">

  <div class="w-full flex items-center justify-between m-4">
    <!-- Logo -->
    <a href="/" class="flex items-center font-bold text-xl ">
      <img src="assets/Logo.png" alt="Imagen Ugel" class="h-14 w-16 transition-transform duration-300 hover:scale-110">
    </a>

    <!-- Menú Principal -->
    <ul class="hidden md:flex  items-center gap-x-3 mr-12">
      <li *ngFor="let item of NavItems">
        <a [href]="item.link"
          class="text-white text-lg rounded-lg px-4">
          {{ item.name }}
        </a>
      </li>
    </ul>
  </div>
</nav>
